@media screen and (max-width: 768px) {
    /* -------------------------------------------------------shared------------------------------------------------- */

    .container {
        width: 95%;
    }

    /* ---------------------------------------------------------nav---------------------------------------------------- */

    nav .links li {

        padding: 8px;
        margin-block: 8px;

    }

    nav .links li a {
        font-size: 15px;
    }

    nav .nav-logo {
        width: 20%;
        margin-block: 8px;
    }

    /* ---------------------------------------------------------home content---------------------------------------------------- */

    #home .home-content {

        max-width: 380px;
    }

    /* ---------------------------------------------------------About,location, contact-info---------------------------------------------------- */

    .section-img,
    .section-content {

        width: 100%;

    }

    /* ---------------------------------------------------------products---------------------------------------------------- */

    #products .card {
        width: 100%;


    }

    /* ---------------------------------------------------------footer---------------------------------------------------- */

    .footer-section,
    .contact-details {
        width: 100%;

    }
}